@import "../../styles.const.scss";

.login-container {
  padding: 36px;
  background-color: $color-white;
  border-radius: 12px;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 14%);
  min-width: 340px;

  h2 {
    text-align: center;
    margin-bottom: 24px;
  }

  .register-link {
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
  }
}
